<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.png">
    <link href="../styles/style.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="../config/firebaseconfig.js"></script>
    <script src="../repository/categories-repository.js" defer="defer"></script>
    <script src="../service/categories-service.js" defer="defer"></script>
    <title>Categories</title>
</head>
<body>
    <header class="topnav">
        <a id="nav-home" href="./dashboard.html">Home</a>
        <nav>
            <a id="nav-accounts" href="accounts.html">Accounts</a>
            <a id="nav-incomes" href="incomes.html">Incomes</a>
            <a id="nav-expenses" href="expenses.html">Expenses</a>
            <a id="nav-categories" href="categories.html">Categories</a>
        </nav>
        <a id="nav-getout" href="./dashboard.html">Get Out</a>
    </header>
    <div class="div-expenses">
        <h3>Expenses</h3>
        <input type="text" placeholder="Category Name" id="newCategoryExpense">
        <button id="registerExpense">Register</button>
        <br>
        <br>
        <table id="table-expenses">
            <tr>
              <th>Id</th>
              <th>Description</th>
              <th></th>
            </tr>
        </table>
    </div>
    <div class="div-incomes">
        <h3>Incomes</h3>
        <input type="text" placeholder="Category Name" id="newCategoryIncome">
        <button id="registerIncome">Register</button>
        <br>
        <br>
        <table id="table-incomes">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th></th>
            </tr>
        </table>
    </div>
</body>
</html>