<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.png">
    <link href="../styles/style.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="../config/firebaseconfig.js"></script>
    <script src="../repository/categorias-repository.js" defer="defer"></script>
    <script src="../service/categorias-service.js" defer="defer"></script>
    <title>Categorias</title>
</head>
<body>
    <header class="topnav">
        <a id="nav-home" href="./dashboard.html">Home</a>
        <nav>
            <a id="nav-contas" href="contas.html">Contas</a>
            <a id="nav-receitas" href="receitas.html">Receitas</a>
            <a id="nav-despesas" href="despesas.html">Despesas</a>
            <a id="nav-categorias" href="categorias.html">Categorias</a>
        </nav>
        <a id="nav-sair" href="./dashboard.html">Sair</a>
    </header>
    <div class="div-despesas">
        <h3>Despesas</h3>
        <input type="text" placeholder="Nome da Categoria" id="novaCategoriaDespesa">
        <button id="cadastrarDespesa">Cadastrar</button>
        <br>
        <br>
        <table id="table-despesas">
            <tr>
              <th>Id</th>
              <th>Descrição</th>
              <th></th>
            </tr>
        </table>
    </div>
    <div class="div-receitas">
        <h3>Receitas</h3>
        <input type="text" placeholder="Nome da Categoria" id="novaCategoriaReceita">
        <button id="cadastrarReceita">Cadastrar</button>
        <br>
        <br>
        <table id="table-receitas">
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </table>
    </div>
</body>
</html>