<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.png">
    <link href="../styles/style.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="../config/firebaseconfig.js"></script>
    <script src="../repository/contas-repository.js" defer="defer"></script>
    <script src="../service/contas-service.js" defer="defer"></script>
    <title>Contas</title>
</head>
<body>
    <header class="topnav">
        <a id="nav-home" href="./dashboard.html">Home</a>
        <nav>
            <a id="nav-categorias" href="categorias.html">Categorias</a>
            <a id="nav-contas" href="contas.html">Contas</a>
            <a id="nav-receitas" href="contas.html">Receitas</a>
            <a id="nav-despesas" href="contas.html">Despesas</a>
        </nav>
        <a id="nav-sair" href="./dashboard.html">Sair</a>
    </header>
    <div class="div-contas">
        <div id="div-novos-dados">
            <input  type="text" placeholder="Nome da Conta" id="nomeNovaConta">
            <select id="tipoConta">
                <option value="CC" selected>Conta Corrente</option>
                <option value="CP">Conta Poupança</option>
                <option value="CS">Conta Salário</option>
                <option value="CI">Conta Investimento</option>
            </select>
            <select id="moeda">
                <option value="BRL" selected>BRL</option>
                <option value="EUR" selected>EUR</option>
                <option value="USD" selected>USD</option>
            </select>
            <input  type="number" placeholder="Saldo" id="saldoNovaConta">
            <button id="cadastrarContas">Cadastrar</button>
            <button id="cancelaAtualizacao" class="hidden-class">Cancelar</button>
        </div>
        <br>
        <br>
        <table id="tableContas">
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Tipo da Conta</th>
              <th>Moeda</th>
              <th>Saldo</th>
              <th></th>
            </tr>
        </table>
    </div>
</body>
</html>