<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.png">
    <link href="../styles/style.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="../config/firebaseconfig.js"></script>
    <script src="../service/dashboard.js"></script>
    <title>Vida Financeira</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="./dashboard.html">Home</a>
    <a href="categorias.html">Categorias</a>
    <a href="contas.html">Contas</a>
  </div>
  
  <div class="div-content">
    <h2>Top Navigation Example</h2>
    <p>Some content..</p>
  </div>
</body>
</html>