<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.png">
    <link href="../styles/style.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="../config/firebaseconfig.js"></script>
    <script src="../repository/despesas-repository.js" defer="defer"></script>
    <script src="../repository/contas-repository.js" defer="defer"></script>
    <script src="../repository/categorias-repository.js" defer="defer"></script>
    <script src="../service/despesas-service.js" defer="defer"></script>
    <title>Despesas</title>
</head>
<body>
    <header class="topnav">
        <a id="nav-home" href="./dashboard.html">Home</a>
        <nav>
            <a id="nav-contas" href="contas.html">Contas</a>
            <a id="nav-receitas" href="receitas.html">Receitas</a>
            <a id="nav-despesas" href="despesas.html">Despesas</a>
            <a id="nav-categorias" href="categorias.html">Categorias</a>
        </nav>
        <a id="nav-sair" href="./dashboard.html">Sair</a>
    </header>
    <div class="div-despesas">
        <div id="div-novos-dados">
            <h3>Cadastro:</h4> 
            <input  type="text" placeholder="Nome da Despesa" id="nomeNovaDespesa">
            <input id="dateNovaDespesa" type="date">
            <select id="categoriaNovaDespesa">
                <option value="" selected>Categoria da Despesa</option>
            </select>
            <select id="contaNovaDespesa">
                <option value="" selected>Conta da Despesa</option>
            </select>
            <input  type="number" placeholder="Valor" id="valorNovaDespesa">
            <select id="repetirDespesa">
                <option value="1" selected>Repetir</option>
                <option value="2">2x</option>
                <option value="3">3x</option>
                <option value="4">4x</option>
                <option value="5">5x</option>
            </select>
            <select id="efetivadaNovaDespesa">
                <option value="N" selected>Não Efetivada</option>
                <option value="S">Efetivada</option>
            </select>
            <button id="cadastrarDespesa">Cadastrar</button>
            <button id="cancelaAtualizacao" class="hidden-class">Cancelar</button>
        </div>
        <div class="div-filtro">
            <h3>Filtros:</h4> 
            <input id="dateDespesaFiltro" placeholder="Mês do Filtro" type="month">
            <select id="categoriaFiltro">
                <option value="" selected>Filtrar por Categoria</option>
            </select>
            <select id="contaFiltro">
                <option value="" selected>Filtrar por Conta</option>
            </select>
        </div>
        <div class="div-totais"> 
            <h4>Total de Despesas por Banco:</h4>
            <h4 id="previsaoMes"></h4>
        </div>
        <br/>
        <div class="div-table">
            <table id="tableDespesas">
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th>Conta</th>
                    <th>Valor</th>
                    <th>Efetivada?</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>