.container{
   background-color:rgb(255, 255, 255);
   max-width: 300px;
   padding: 20px;
   margin: auto;
   border-radius: 50px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  
}

.login-div{
   width: 100%;
   max-width: 330px;
   padding: auto;
   margin: auto;
}

.input-index{
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   position: relative;
   box-sizing: border-box;
   height: auto;
   padding: 10px;
   font-size: 16px;
   display: block;
   width: 100%;
   line-height: 1.5;
   outline-color: rgb(165, 167, 173);
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 0.8px solid #ced4da;
   border-radius: .20rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-index:focus{
   outline:none;
   border-color:#9ecaed;
   box-shadow:0 0 10px #9ecaed;
}
  

.img-index{
   padding: 10px;
   width: 300px;
   height: 250px;
}

.btn-index{
   cursor: pointer;
   margin-bottom: 5px;
   display: block;
   width: 100%;
   padding: .5rem 1rem;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   font-size: 16px;
   line-height: 1.5;
   border-radius: .3rem;
   border: 1px solid transparent;
   color: #fff;
   background-color: #0e6612;
   border-color: #2fa534;
   user-select: none;
   border: 1px solid transparent;
   text-rendering: auto;
   letter-spacing: normal;
   word-spacing: normal;
   text-indent: 0px;
   text-shadow: none;
   align-items: flex-start;
   font-family: Arial, Helvetica, sans-serif;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-index:hover {
   background-color: #0ca113 ;
   color: white;
}


.label-mensagem{
   margin-bottom: -1px;
   position: relative;
   height: auto;
   padding: 10px;
   font-size: 16px;
   display: block;
   width: 100%;
   line-height: 1.5;
   color: #a71c1c;
   background-clip: padding-box;
   font-family: Arial, Helvetica, sans-serif;
}

.rodape{
   margin: 10px;
   text-align: center;
   height: auto;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(84, 85, 87);

   
}