/*----------------BODY----------------*/
body{
   font-family: Arial, Helvetica, sans-serif;
}

.container{
   background-color:rgb(255, 255, 255);
   max-width: 300px;
   padding: 20px;
   margin: auto;
   border-radius: 50px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  
}

/*----------------LOGIN----------------*/

.login-div{
   width: 100%;
   max-width: 330px;
   padding: auto;
   margin: auto;
}

.input-index{
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   position: relative;
   box-sizing: border-box;
   height: auto;
   padding: 10px;
   font-size: 16px;
   display: block;
   width: 100%;
   line-height: 1.5;
   outline-color: rgb(165, 167, 173);
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 0.8px solid #ced4da;
   border-radius: .20rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-index:focus{
   outline:none;
   border-color:#9ecaed;
   box-shadow:0 0 10px #9ecaed;
}
  

.img-index{
   padding: 10px;
   width: 300px;
   height: 250px;
}

.btn-index{
   cursor: pointer;
   margin-bottom: 5px;
   display: block;
   width: 100%;
   padding: .5rem 1rem;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   font-size: 16px;
   line-height: 1.5;
   border-radius: .3rem;
   border: 1px solid transparent;
   color: #fff;
   background-color: #0e6612;
   border-color: #2fa534;
   user-select: none;
   border: 1px solid transparent;
   text-rendering: auto;
   letter-spacing: normal;
   word-spacing: normal;
   text-indent: 0px;
   text-shadow: none;
   align-items: flex-start;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.label-mensagem{
   margin-bottom: -1px;
   position: relative;
   height: auto;
   padding: 10px;
   font-size: 16px;
   display: block;
   width: 100%;
   line-height: 1.5;
   color: #a71c1c;
   background-clip: padding-box;
}

.rodape{
   margin: 10px;
   text-align: center;
   height: auto;
   color: rgb(84, 85, 87);   
}

/* Add a black background color to the top navigation */
.topnav {
   overflow: hidden;
   width: 100%;
   text-align: center;
}
 
/* Style the links inside the navigation bar */
.topnav a {
   float: left;
   color: #504f4f;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: ease-in-out 0.3s;
   font-size: large;
}

.div-contas{
   margin: 20px;
}

nav {
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

#nav-sair{
   float: right;
}

.principal{
   text-decoration: underline !important;
}

/* Change the color of links on hover */
.topnav a:hover {
   color: rgb(34, 133, 34);
   font-size: larger;
}

.div-content{
   padding-left:16px
}

/*----------------TABLE----------------*/

table {
   border-collapse: collapse;
   width: 100%;
}

th, td {
   text-align: left;
   padding: 8px;
}

tr:nth-child(even){
   background-color: #f2f2f2
}

th {
   background-color: #0e6612;
   color: white;
}

h3{
   color: #495057;
}

.div-despesas, .div-receitas{
   border-bottom-width: 0.5px;
   border-bottom-style: solid;
   border-bottom-color: #495057;
}

input, select{
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   position: relative;
   box-sizing: border-box;
   padding: 10px;
   line-height: 1.5;
   outline-color: rgb(165, 167, 173);
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 0.8px solid #ced4da;
   border-radius: .20rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus{
   outline:none;
   border-color:#9ecaed;
   box-shadow:0 0 10px #9ecaed;
}

button{
   cursor: pointer;
   margin-bottom: 5px;
   padding: .5rem 1rem;
   text-align: center;
   white-space: nowrap;
   line-height: 1.5;
   border-radius: .3rem;
   border: 1px solid transparent;
   color: #fff;
   background-color: #0e6612;
   border-color: #2fa534;
   user-select: none;
   border: 1px solid transparent;
   text-rendering: auto;
   letter-spacing: normal;
   word-spacing: normal;
   text-indent: 0px;
   text-shadow: none;
   align-items: flex-start;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
   background-color: #0ca113 ;
   color: white;
}

.hidden-class{
   visibility: hidden;
   position: absolute;
}

.disabled-button{
   cursor: not-allowed;
   pointer-events: none;
   color: #fcf9f9;
   background-color: #82977a;
}

.btn-table{
   margin: 5px;
}